*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #40221B;
  background-color: #fffffe;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1.5rem;
  font-size: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F28066;
  color: #fffffe;
}

h2 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: 700;
}

p {
  font-size: .6rem;
  padding-bottom: .5em;
  font-weight: 200px;
}

a {
  font-size: .4rem;
  font-weight: 600;
  color: #F2C7AE;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  text-decoration: underline;
}

.section-content{
    display: grid;
    grid-template: repeat(3, 240px) / repeat(2, 240px);
    margin-bottom: 150px;
}

.text1, .text3 {
  padding: 1.5rem 1.5rem 0 1rem;
}

.text2 {
  padding: 1.5rem 1rem 0 1.5rem;
}

.image1 {
  background-color: blue;
  background-image: url("https://s3.us-east-1.amazonaws.com/bomb-images/_hiresolution/52014ohp-karawalker2.png");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-color: blue;
  background-image: url("https://www.barbaralondon.net/wp-content/uploads/2025/02/Darkpool_a-crop-scaled.jpg");
  background-size: cover;
  background-position: center;
}


.image3 {
  background-color: blue;
  background-image: url("https://harborlogistics.com/wp-content/uploads/2025/08/harbor_poster.jpg");
  background-size: cover;
  background-position: center;
}
